.personal {
  display: flex;
  flex-direction: column;
}

#cvName {
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.personalDetails {
  display: flex;
  justify-content: center;
  gap: 40px;
}