#root {
  margin: 0 ;
  text-align: center;
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.sideBar{
  max-width: 500px;
  background-color: rgb(193, 237, 247);
  box-sizing: border-box;
  padding: var(--padding-standard);
}

main {
  flex: 1;
}

form {
  display: none;
  flex-direction: column;
  gap: 8px;
}

.basicInputWrapper {
  display: flex
}

.basicInputWrapper > label {
  flex: 1;
}

.basicInputWrapper>input {
  flex: 4;
}
